<header class="row header justify-content-center align-items-center">
    <div class="col-12 justify-content-center d-flex mx-auto">
      <div class="header__content text-center">
        <img src="/img/rotarywhite.png" alt="Rotary Club Logo" width="50px" class="mx-4">
        <h1 class="header__title">Rotary Club La Paz</h1>
        <p class="header__description">
          El Club Rotario La Paz, es parte de los más 35 mi clubes rotarios en todo el mundo y de los 34 Clubes en
          Honduras.
        </p>
      </div>
    </div>
</header>