<div>
    <div class="row">
        <div class="col-12 text-center">
            <main>
                <div class="header-aboutus">
                    <img src="/img/rotarygold.png" width="50px">
                    <h1 class="display-3">Quienes somos</h1> 
                </div>
                <div class="container">
                <div>
                    <h5 class="h4 pt-4">Rotary es una red mundial compuesta de 1 200 000 vecinos, amigos, líderes y personas dedicadas a 
                        solucionar problemas, quienes ven un planeta en que las personas se unen y toman acción para
                        generar un cambio perdurable en el mundo, sus comunidades y en sí mismos.</h5>
                </div>
                <div class="mt-5">
                    <h2>¿Qué hacemos?</h2>
                    <p class="pt-2 font-weight-light">Como socios de Rotary asumimos la responsabilidad de tomar acción, a fin de abordar los problemas más perniciosos que afectan a la humanidad. Unidos con nuestros 35.000 clubes:</p>
                    <ul class="list-unstyled text-left font-weight-light">
                        <li>- Promovemos la paz</li>
                        <li>- Combatimos enfermedades</li>
                        <li>- Proporcionamos acceso al agua salubre, saneamiento y fomentamos buenos hábitos de higiene</li>
                        <li>- Protegemos a madres e hijos</li>
                        <li>- Fomentamos la educación</li>
                        <li>- Desarrollamos las economías locales</li>
                    </ul>
                </div>
                    <h2>Nuestra Misión</h2>
                    <p class="font-weight-light mt-2">Nuestra misión es brindar servicio a los demás, promover la integridad y fomentar la comprensión, la buena voluntad y la paz entre las naciones a través de las actividades de compañerismo de nuestros líderes empresariales, profesionales y cívicos.</p>
                    <img src="/img/banner1.png" class="img-fluid">
                </div>
                <p class="container pt-3">Rotary se concentra en causas para fortalecer las relaciones internacionales, mejorar vidas, y crear un mundo más propicio para fomentar nuestras iniciativas pro paz y nuestra campaña para erradicar la polio.</p>
                </div>
            </main>
        </div>
    </div>
</div>