<header class="masthead aboutus">
    <div class="container">
        <div class="masthead-subheading">Club Rotario La Paz</div>
        <div class="masthead-heading text-uppercase">¿Quiénes Somos?</div>
    </div>
</header>

<main class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="card aboutus__card">
                <div class="card-body">
                    <p class="pt-4 text-muted aboutus__text">Rotary es una red mundial compuesta de 1 200 000 vecinos,
                        amigos, líderes y personas dedicadas a
                        solucionar problemas, quienes ven un planeta en que las personas se unen y toman acción para
                        generar un cambio perdurable en el mundo, sus comunidades y en sí mismos.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center mb-4">
                <h2 class="text-uppercase">¿Por qué nos diferenciamos?</h2>
            </div>
            <ul class="timeline mt-4">
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/aboutus1.png" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Percibimos las cosas de manera distinta</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Nos valemos de nuestra perspectiva multidisciplinaria para afrontar
                                los desafíos desde diversos enfoques.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/aboutus2.png" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Tenemos nuestra propia manera de pensar</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Ponemos nuestro liderazgo y experiencia profesional a servicio de los
                                demás para solucionar los problemas sociales que afectan a nuestras comunidades</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/aboutus3.png" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Somos responsables</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Con nuestra pasión y perseverancia generamos el cambio permanente.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/aboutus4.png" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Marcamos la diferencia en nuestros países y alrededor del mundo</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Nuestros socios trabajan en odas las comunidades y continentes.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class="text-center mb-5">
            <h2 class="section-heading text-uppercase">La Prueba Cuádruple</h2>
            <h3 class="text-uppercase font-weight-light">De lo que se piense,de dice, o se hace </h3>
            <div class="row row-cols-2 mt-5">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-balance-scale-right"></i>
                            <p class="">¿Es la verdad? </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-equals"></i>
                            <p class="">¿Es equitativo para todos? </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-users"></i>
                            <p class="">¿Creará buena voluntad y mejores amistades? </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-award"></i>
                            <p class="">¿Será beneficioso para todos los interesados?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 bg-light p-4 text-center">
            <p class="card-header border-0 bg-light display-4">Misión</p>
            <div class="card-body">
                <p class="text-muted">Nuestra misión es brindar servicio a los demás, promover la integridad y
                    fomentar la comprensión, la buena voluntad y la paz entre las naciones a través de las
                    actividades de compañerismo de nuestros líderes empresariales, profesionales y cívicos.</p>
            </div>
            <p class="card-header border-0 bg-light display-4">Visión</p>
            <div class="card-body">
                <p class="text-muted">Juntos contemplamos un mundo donde las personas se unen y toman acción para
                    generar un cambio perdurable en nosotros mismos, en nuestras comunidades y en el mundo entero.
                </p>
            </div>
        </div>
    </section>
</main>
<section class="page-section bg-light" id="portfolio">
    <div class="container">

        <div class="text-center">
            <h2 class="section-heading text-uppercase">Proyectos Del Club Rotario La Paz</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <div class="portfolio-caption">
                        <i class="fas fa-star aboutus__icon"></i>
                        <div class="portfolio-caption-heading">Agua y Saneamiento en Barrio Buenos Aires</div>
                        <div class="portfolio-caption-subheading text-muted">50 Pilas, 50 Letrinas y 100 Filtros de Agua
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <div class="portfolio-caption">
                        <i class="fas fa-star aboutus__icon"></i>
                        <div class="portfolio-caption-heading">Instalación de 100 Filtros de Agua</div>
                        <div class="portfolio-caption-subheading text-muted">Barrio Villa Luisa</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <div class="portfolio-caption">
                        <i class="fas fa-star aboutus__icon"></i>
                        <div class="portfolio-caption-heading">Construcción de Escuela en El Aguacate</div>
                        <div class="portfolio-caption-subheading text-muted">San Luis</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <div class="portfolio-caption">
                        <i class="fas fa-star aboutus__icon"></i>
                        <div class="portfolio-caption-heading">Construcción de Proyecto de agua</div>
                        <div class="portfolio-caption-subheading text-muted">para las comunidades de Veracruz, El Tablón
                            y el Tule.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <div class="portfolio-caption">
                        <i class="fas fa-star aboutus__icon"></i>
                        <div class="portfolio-caption-heading">Construcción del Centro de Desarrollo Comunitario.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <div class="portfolio-caption">
                        <i class="fas fa-star aboutus__icon"></i>
                        <div class="portfolio-caption-heading">Navidad Rotaria, Rotary Pinta Honduras</div>
                        <div class="portfolio-caption-subheading text-muted">Todos los años</div>
                    </div>
                </div>
            </div>
            {{#each projects }}
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <div class="portfolio-caption">
                        <i class="fas fa-star aboutus__icon"></i>
                        <div class="portfolio-caption-heading"><a href="/post/details/{{this.post_id}}"
                                class="text-dark">{{this.title}}</a></div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>