<div>
    <div class="header-historia">
        <img src="/img/rotarygold.png" width="50px">
        <h1 class="display-3">Nuestra Historia</h1> 
    </div>
    <div class="container mt-4">
        <p class="text-center font-weight-normal">En Marzo de 2018, Jonathan Zelaya, Presidente de la ong Internacional Honduras Compassion Partners, tiene la idea de crear un Club Rotario en la Ciudad de la Paz, este para poder crear un espacio de servicio a la comunidad sin necesidad de involucrar a la política o a la religión y un espacio para conocer personas y entablar un networking en La Ciudad. </p>
        <div class="pt-2 font-weight-light text-left">
            <p >Teniendo poco conocimiento de cómo sería la funcionalidad de uno, o de como crearlo, este llama a personas de diferentes clubes como ser el Club Rotario Merendon de SPS, con su Past Presidenta Ana Alvarez, la cual le recomienda el Club Rotario VillaReal de Tegucigalpa, y a su Past Presidenta Wendy ayestas. luego de una reunión y presentación con el Club VillaReal se decide una fecha para poder visitar la ciudad de La Paz.</p>
            <p>
                Un 11 de mayo de 2018, en las instalaciones del teatro de la ciudad de La Paz, se celebra por primera vez una reunión de iniciación sobre la idea de crear un Club Rotario, a dicho reunión solo asistieron 5 personas de la ciudad de La Paz, teniendo siempre las ganas de poder lograr la opcion de habilitar un club, los primeros socios, Heidy Corrales, Bessy Ayala, Elvin Gamez y Jonathan Zelaya, deciden empezar a reunirse todas las semanas y empezar a traer invitados para poder lograr un grupo de 30 personas y así poder lograr crear el Club Rotario.</p>
            <p>
                Para Junio 2018, y con el esfuerzo del Club Rotario La Paz en Formación y el Club Rotario VillaReal de Tegucigalpa, se realiza la primera actividad de recaudación de fondos, una Maratón “Corriendo y Caminando apoyando al Materno” la cual es de mucha aceptación en La Ciudad, y la recaudación de fondos en su totalidad fue para apoyar el Materno Municipal y su reconstrucción. </p>
            <p>
                Para Diciembre de 2018 y ya establecidos, reuniéndonos cada jueves, por una hora en el Kinder Jacobo Cáceres de La Ciudad de La Paz, se recibe la comunicación de que nuestro club pasaría ya a formar parte legal de Rotary Internacional. 
                Para el 12 de Enero de 2019, en una ceremonia en el Hotel del Ángel, se juramentó el Club Rotario La Paz, conformado en ese momento por 30 socios y con la intención de poder ayudar y servir en nuestras comunidades.</p>
        </div>
        <div>
            <p class="font-weight-bold">La primera junta directiva del club quedó conformada por los siguientes socios: </p>
            <ul class="list-unstyled">
                <li>Jonathan Zelaya - Presidente. (Socio Activo)</li>
                <li>Heidy Corrales - Vicepresidente. (Socio Activo)</li>
                <li>Bessy Ayala - Secretaria. (Socio Activo)</li>
                <li>Elvin Gamez - Tesorero. (Socio Activo)</li>
                <li>Eduin Martinez - Presidente Comite Administracion. (Socio Activo)</li>
                <li>Iris Medina - Presidente Comité Proyectos de Servicio. (Socio Activo)</li>
                <li>Jason Orellana - Presidente Comite Imagen Pública. (Past Socio)</li>
                <li>Glenda Gálvez - Presidente Comité de Membresía. (Socio Activo)</li>
                <li>Laura Flores - Presidente Comité Fundación Rotaria. (Past Socio)</li>
            </ul>
        </div>
    </div>
</div>