<div>
    <div class="row no-gutters">
        <div class="col-12 text-center">
            <main>
              <div class="header-index">
                  <img src="/img/rotarywhite.png" width="50px">
                  <h1>Club Rotario La Paz</h1>
              </div> 
                <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Ultimas Publicaciones</h5>
                          <p class="card-text">Enterate de todo lo que el Club Rotario esta haciendo en La Paz</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Agenda</h5>
                          <p class="card-text"></p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div> 
            </main>
          </div>
    </div>
</div>