<div class="footer bg-secondary">
    <footer>
    <div>
        <img src="/img/rotarywhite.png" width="50px">
        <p>Club Rotario La Paz</p>
        <ul class="list-inline">
            <li class="list-inline-item">Conocenos</li>
            <li class="list-inline-item">Historia</li>
            <li class="list-inline-item">Posts</li>
        </ul>
    </div>
    </footer>
</div>