<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-light">&copy; <span id="date"></span> Club Rotario Ciudad de La Paz</p>
            </div>
            <div class="col-12">
                <small class="text-center d-block text-light">Redes sociales</small>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="https://www.facebook.com/ClubRotarioLaPaz" class="footer__link text-light" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>