$color-primary: #1b00ff;
$color-secondary: rgb(255, 192, 0);
$color-light: #f5f5f5;
$color-dark: #323232;
$color-dark-1: #6b6b6b;
$color-black: #000;
$color-light-2: rgb(236, 240, 244);
$color-white: #fff;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
